# Dependencies
node_modules/

# Build output
dist/
coverage/
*.tsbuildinfo

# Runtime/generated
uploads/
.local-db-dumps/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env / secrets
.env
.env.*
!.env.example

# Prisma local artifacts (generated in runtime)
prisma/dev.db
prisma/dev.db-journal

# IDE / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
